    .top {

        width: 100%;
        height: 300px;
    }
    
    .box {
        width: 150px;
        width: 150px;
        margin-left: 80px;
    }
    
<<<<<<< HEAD
    .top1 {
        /*imagen expandida*/

        min-width: 100%;
        min-height: 100%;

    }
=======
>>>>>>> 913ea387895ce813cd59c1bb1dddb77ddbbf31d9
