    .center_div {
        margin-left: 19.5%;

    }
    
    .centrartabla {
        margin-right: 300px;
        margin-left: 300px;
        width: 100%;
    }

    .bc{
        margin-left: 25%;
    }
    .btnb{
        margin-top: 10px;
    }
    .tabla1{
width: 800px;
    }