    .center_div {
        margin-left: 250px;
        width: 100%;
    }
    
    .centrartabla {
        margin-right: 300px;
        margin-left: 300px;
        width: 100%;
    }

    .bc{
        margin-left: 25%;
    }